* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    padding: 0;
    color: #333;
    background: #fdfdff;
}

h1, h2, h3, h4, h5, h6 {
    font-family: sans-serif;
    font-style: normal;
    font-variant: normal;
}

h1 {
    font-size: 1.5rem;
    line-height: 3rem;
    margin: 0;
}

h2 {
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.1rem;
    margin: 0;
    padding-bottom: 5px;
}

h2.fp-h2 {
    color: #333;
    font-size: 1.5rem;
    margin: 1rem 0;
    text-transform: uppercase;
}

h3 {
    color: #333;
    font-size: 1.2rem;
    line-height: 1.6rem;
}

h4 {
    color: #444;
}

p, li {
    font-family: serif;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 1.7rem;
}

p:last-child, li:last-child {
    margin-bottom: 0;
}

a {
    color: rgb(34, 102, 216);
    text-decoration: none;
}

pre {
    width: 800px;
}

img {
    width: 640px;
    max-width: 100%;
}

footer .container {
    margin-bottom: 15px;
}

footer p {
    width: 30rem;
    max-width: 100%;
    border-top: 1px solid #ccc;
    padding: 0;
    margin: 0;
    margin-top: 15px;
    padding-top: 15px;
}

.container {
    width: 1024px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

header a {
    font-family: sans-serif;
    font-size: .8rem;
    color: #777;
}

header a::before {
    display: inline-block;
    content: '↩';
    padding-right: 5px;
    font-size: .6rem;
}

header .container {
    padding: 30px 15px 0 15px;
}

.col-6 {
    width: 30rem;
    max-width: 100%;
}

.hljs {
    padding: 15px;
    background: white;
    border: 1px solid #ccc;
    max-height: 300px;
}

.title {
    color: #333;
    margin: 0;
    padding: 0;
    line-height: initial;
}

.subtitle {
    color: #333;
    text-decoration: none;
    font-variant: small-caps;
    font-weight: 500;
}

.summary {
    margin-top: 15px;
}

.summary-subtitle {
    font-family: sans-serif;
    color: #333;
}

.note {
    line-height: 1.4rem;
    background: #ffffe8;
    border: #e0e0e0 1px solid;
    padding: 15px;
}

.note, .note p {
    font-size: .9rem;
}

.note a {
    font-size: .8rem;
}

.note-header {
    background: transparent;
    font-weight: bold;
}

.fp-section {
    margin: -1rem;
    padding: 1rem;
    margin-top: 4rem;
}

.fp-section:first-of-type {
    margin-top: 2rem;
}

.fp-section:last-of-type {
    margin-bottom: 2rem;
}

.fp-section--about {
    background: #d5f4ff;
}

.fp-section p,
.fp-section a {
    font-family: sans-serif;
    font-size: 1rem;
}

.fp-section--projects {
    background: #f8e8ff;
}

.fp-section--talks {
    background: #d9ffcc;
}

.fp-section--notes {
    background: #ffe8e8;
}

.fp-project:not(:last-of-type) {
    display: block;
    margin-bottom: 1rem;
}

.fp-project p {
    color: #333;
    margin: 0;
}

@media (max-width: 800px) {
    pre {
        width: 100%;
        margin-left: 0;
    }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .fp-section {
        margin: 0 -15px;
        padding: 1rem;
    }

    .fp-section:last-of-type {
        margin-bottom: 0;
    }

    .fp-section:not(:last-of-type) {
        border-bottom: 1px solid white;
    }
}

#share {
    margin-top: 30px;
}
