* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    padding: 0;
    color: #333;
    background: #fdfdff;
}

h1, h2, h3, h4, h5, h6 {
    font-family: serif;
    font-style: normal;
    font-variant: normal;
}

h1 {
    font-size: 2rem;
    letter-spacing: .1rem;
    line-height: 3rem;
    margin: 0;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
}

h2 {
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.1rem;
    color: #eee;
    margin: 0;
    padding-bottom: 5px;
}

h3 {
    color: #333;
}

h4 {
    color: #666;
}

p, li {
    font-family: serif;
    font-size: 1.1rem;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 1.9rem;
}

a {
    color: rgb(66, 133, 244);
    font-family: serif;
    text-decoration: none;
}

pre {
    width: 800px;
}

@media (max-width: 800px) {
    pre {
        width: 100%;
        margin-left: 0;
    }
}

hr {
    padding: 0;
    margin: 0;
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
}

footer .container {
    margin-bottom: 15px;
}

footer p {
    padding: 0;
    margin: 0;
    font-size: .9rem;
}

.container {
    width: 1024px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

header {
    background: #2d5c84;
}

header a {
    color: white;
}

header .container {
    padding: 30px 15px;
    color: white;
}

.col-6 {
    width: 60%;
}

.hljs {
    padding: 30px;
    background: white;
    border: 1px solid #ccc;
}

.title {
    color: #333;
    margin: 0;
    padding: 0;
    line-height: initial;
    font-size: .9rem;
}

.subtitle {
    color: #333;
    text-decoration: none;
    font-size: 1.15rem;
    font-variant: small-caps;
    font-weight: 500;
}

.summary {
    display: block;
}

.summary:not(:last-of-type) {
    margin-bottom: 15px;
}

.summary h1 {
    font-size: 1.05rem;
    font-weight: normal;
}

.summary h2 {
    font-size: .9rem;
    line-height: initial;
    margin: 0;
    padding: 0;
    font-weight: normal;
}

.small {
    font-size: .9rem;
    line-height: 1.4rem;
    background: #ffffb1;
    border: #e0e0e0 1px solid;
    padding: 15px;
}

.small a {
    font-size: .8rem;
}
